:root {
--dark: #2d232e ;
--font: #f6f1d1 ;
--round: 20px;
}
body {
    background-color: #70a9a1 ;
    font-family: 'Courier New', Courier, monospace;
}
header {
background-color:var(--dark) ;
color: var(--font);
padding: 10px;
font-family: 'Courier New', Courier, monospace;
border-radius: var(--round);border: black;
border-style: solid;
}
h1 {
    display: inline-block;
    font-size: 42px;
    padding-left: 20px;
}
main{
    display: flex;
}

nav {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    
    
}
nav ul {
    list-style-type: none;
    display: contents;
    
    padding: 5px;
    
}
nav ul li {
    display: block;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    
}
nav a{
    color: var(--font);
    text-decoration: none;
    font-size: 20px;
}
aside {
    background-color: #006494;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: var(--round);
    border: black;
    border-style: solid;
    color: var(--font);

}
aside img {
    width: auto;
    height: 250px;
    border: black;
    border-style: solid;
}
.my-work{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;

}
.my-work h2 {
    font-size: 50px;
}
.my-work img {
width: 100%;
height: auto;
margin-bottom: 10px;
}
.work {
    min-width: 0;
    min-height: 0;
    width: 49%;
    height: auto;
    margin-right: 10px;
   

}
.work img {
    width: 100%;
    height: auto;
}
h2 {
    background-color: var(--dark);
    color: var(--font);
    padding: 20px;
    border-radius: var(--round);
    border: black;
    border-style: solid;
}
h3 { background-color: var(--dark);
padding: 20px;
margin: 0;
margin-top: 10px;
border-start-start-radius: var(--round);
border-start-end-radius: var(--round);
display: flex;
border: black;
border-style: solid;
color: var(--font);
}
.work h3{
    background-color: var(--dark);
}

footer {
    background-color: var(--dark);
    color: var(--font);
    border-radius:var(--round);
    padding: 20px;border: black;
    border-style: solid;
}
footer p {
    font-size: 25px;
    margin-right: 350px;
    display: block;
}
@media screen and (max-width: 768px) {
    main {
        padding: 0;
        margin: 0;
        height: auto;
        flex-direction: column;
    
    }
    .work {
        width: 100%;
    }
    nav {
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }